:root {
    --color-hover: rgb(254, 204, 0);
    --color-white: #fff;
    --center-burger: 12.3px;
  }  

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  font-size: 16px;
  line-height: normal;
  color: rgb(255,255,255);
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
html {
    background: linear-gradient(90deg, rgba(53,2,71,1) 0%, rgba(99,28,108,1) 49%, rgba(51,4,61,1) 100%);
}


.container {
    margin: 0 auto;
    max-width: 1920px;
}
.header__container {
    position: relative;
}
.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__wrapper {
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.title {
    font-size: 32px;
    color: yellow;
    font-weight: 700;
    white-space: nowrap;
}
.main__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game__wrapper {
    height: 440px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10%;
    box-shadow: 1px 1px 10px black;
}
.card-back {
    background-image: url("assets/img/card-back.jpg");
}
.footer__container {
    position: relative;
}
.footer__wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    column-gap: 20px;
}
.link {
    fill: white;
    color: inherit;
    transition: .3s;
}
.link:hover {
    fill: yellow;
    color: yellow;
}
.rslogo {
    width: 30px;
    height: 30px;
}