:root {
    --color-white: #fff;
    --color-black: #3E4241;
    --color-green: rgb(20, 184, 107);
}  


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  scroll-behavior: smooth;
  background-color: whitesmoke;
  min-height: 100vh;
  font-size: 16px;
  line-height: normal;
  color: var(--color-black);
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
    max-width: 1920px;
}
.header__container {
    height: 70px;
    background-color: var(--color-black);
}
.main__container {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__container {
  height: 70px;
  background-color: var(--color-black);
}
.grid-container {
  position: relative;
  width: 300px;
  height: 300px;
}
.text-container {
  background-color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: appeare .3s ease-in-out forwards;
}
.text-container.hide {
  animation: disappeare .3s ease-in-out forwards;
}
.text {
  font-weight: 500;
  color: rgb(201, 3, 3);
  font-size: 24px;
}
.button {
  background-color: var(--color-green);
  user-select: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}
.button:active {
  box-shadow: inset 0 0 10px black;
  font-size: 17px;
  margin-top: 2px;
}
.grid {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./assets/svg/grid.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  animation: appeare .3s ease-in-out forwards;
}
.grid.hide {
  animation: disappeare .3s ease-in-out forwards;
}
.cell {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sign {
  object-fit: cover;
  height: 60%;
}
.cross-line {
  position: absolute;
  border-radius: 50%;
  display: block;
  background: linear-gradient(90deg, rgba(32,21,91,0.4) 0%, rgba(32,21,91,1) 7%, rgba(22,14,62,1) 49%, rgba(32,21,91,1) 95%, rgba(32,21,91,0.4) 100%);
  width: 0;
  height: 0;
}
.cross-line.l1 {
  width: 340px;
  top: 50px;
  left: -20px;
  height: 10px;
  transition: width 0.3s;
}
.cross-line.l2 {
  width: 340px;
  top: 150px;
  left: -20px;
  height: 10px;
  transition: width 0.3s;
}
.cross-line.l3 {
  width: 340px;
  top: 250px;
  left: -20px;
  height: 10px;
  transition: width 0.3s;
}
.cross-line.l4 {
  width: 10px;
  height: 340px;
  left: 50px;
  top: -20px;
  transition: height 0.3s;
}
.cross-line.l5 {
  width: 10px;
  height: 340px;
  left: 150px;
  top: -20px;
  transition: height 0.3s;
}
.cross-line.l6 {
  width: 10px;
  height: 340px;
  left: 250px;
  top: -20px;
  transition: height 0.3s;
}
.cross-line.l7 {
  position: static;
  width: 464px;
  height: 10px;
  top: 150px;
  left: -82px;
  transform: rotate(45deg);
  transition: width 0.3s;
}
.cross-line.l8 {
  position: static;
  width: 464px;
  height: 10px;
  top: 150px;
  left: -82px;
  transform: rotate(-45deg);
}

@keyframes disappeare {
  0% {
      visibility: visible;
      transform: rotateY(0deg);
  }
  50% {
      visibility: visible;
      transform: rotateY(90deg);
  }
  51% {
      visibility: hidden;
  }
  100% {
      visibility: hidden;
  }
}

@keyframes appeare {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  51% {
      visibility: visible;
      transform: rotateY(90deg);
  }
  100% {
      visibility: visible;
      transform: rotateY(0deg);
  }
}