:root {
  --color-violet: #684870;
  --color-yellow: #E2D574;
  --color-blue: #6FE3FF;
  --color-dark-red: #CC7350;
  --color-red: #E48E66;
  --color-white: #fff;
  --color-black: #3E4241;
  --color-green: rgb(20, 184, 107);
}  


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  scroll-behavior: smooth;
  background-color: whitesmoke;
  min-height: 100vh;
  font-size: 16px;
  line-height: normal;
  color: var(--color-white);
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}
.header__container {
  position: relative;
}
.header__wrapper {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title__container{
  position: relative;
  width: 250.28px;
}
.title {
  position: absolute;
  white-space: nowrap;
  font-size: 40px;
  font-weight: 900;
  color: var(--color-violet);
  cursor: pointer;
  text-align: center;
  user-select: none;
}
.title:active {
  font-size: 38px;
  margin-left: 5px;
}
.title:hover {
  animation: shake 0.2s ease infinite;
}
@keyframes shake {
  0% {
    top: 0;
  }
  25% {
    top: -2px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}
.main__container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__container {
  height: 70px;
  padding: 0 50px;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
.link {
  color: var(--color-white);
  cursor: pointer;
  transition: .3s;
}
.link:hover {
  fill: orange;
  color: orange;
}
.footer__center {
  margin-right: 125.48px;
  fill: var(--color-white)
}
.button__play {
  height: 40px;
  width: 40px;
}
.grid-container {
  position: relative;
  margin-top: 70px;
  width: 300px;
  height: 300px;
}
.text-container {
  background-color: #fff;
  box-shadow: 2px 2px 10px #3E4241;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: appeare .3s ease-in-out forwards;
}
.text-container.hide {
  animation: disappeare .3s ease-in-out forwards;
}
.text {
  font-weight: 500;
  color: rgb(201, 3, 3);
  font-size: 24px;
}
.button {
  background-color: var(--color-green);
  user-select: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}
.button:active {
  box-shadow: inset 0 0 10px black;
  font-size: 17px;
  margin-top: 2px;
}
.grid {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./assets/svg/grid.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  animation: appeare .3s ease-in-out forwards;
}
.grid.hide {
  animation: disappeare .3s ease-in-out forwards;
}
.cell {
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sign {
  object-fit: cover;
  height: 60%;
}
.cross-line {
  position: absolute;
  border-radius: 50%;
  display: block;
  background: red;
  width: 0;
  height: 0;
}
.cross-line.l1 {
  width: 113%;
  top: 16.66%;
  left: -6.66%;
  height: 10px;
  transition: width 0.3s;
}
.cross-line.l2 {
  width: 113%;
  top: 50%;
  left: -6.66%;
  height: 10px;
  transition: width 0.3s;
}
.cross-line.l3 {
  width: 113%;
  top: 83.33%;
  left: -6.66%;
  height: 10px;
  transition: width 0.3s;
}
.cross-line.l4 {
  width: 10px;
  height: 113%;
  left: 16.66%;
  top: -6.66%;
  transition: height 0.3s;
}
.cross-line.l5 {
  width: 10px;
  height: 113%;
  left: 50%;
  top: -6.66%;
  transition: height 0.3s;
}
.cross-line.l6 {
  width: 10px;
  height: 113%;
  left: 83.33%;
  top: -6.66%;
  transition: height 0.3s;
}
.cross-line.l7 {
  width: 155%;
  height: 10px;
  top: 50%;
  left: -27.33%;
  transform: rotate(45deg);
}
.cross-line.l8 {
  width: 155%;
  height: 10px;
  top: 50%;
  left: -27.33%;
  transform: rotate(-45deg);
}

@keyframes disappeare {
  0% {
      visibility: visible;
      transform: rotateY(0deg);
  }
  50% {
      visibility: visible;
      transform: rotateY(90deg);
  }
  51% {
      visibility: hidden;
  }
  100% {
      visibility: hidden;
  }
}

@keyframes appeare {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  51% {
      visibility: visible;
      transform: rotateY(90deg);
  }
  100% {
      visibility: visible;
      transform: rotateY(0deg);
  }
}

@media(max-height: 550px) {
  .grid-container {
    width: 200px;
    height: 200px;
  }
}
@media(max-width: 620px) {
  .footer__container {
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
  }
  .footer__center {
    margin: 0 150px;
    order: -1;
  }
  .main__container {
    height: calc(100vh - 140px);
  }
}