/*----VARs------------------------------------------------------------------------------*/
:root {
    --color-gold: #bdae82;
    --font-size-name: 60px;
    --font-weight-name: bold;
    --font-size-h2: 40px;
    ---center-burger: 12.3px;
    ---filter-black: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
/*----NORMALIZE------------------------------------------------------------------------------*/

  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  html,
  body {
    scroll-behavior: smooth;
    overflow-x:hidden;
    background-color: #000000;
    min-height: 100vh;
    max-width: 1440px;
    line-height: normal;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    font-family: Inter;
    margin: 0 auto;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

/*----HEADER------------------------------------------------------------------------------*/

.header-container {
    position: absolute;
    z-index: 1000;
    height: 90px;
    width: 100%;
  }
.header {
    max-width: 1440px;
    padding: 0 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
    width: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;  
    transition: 0.3s;
}

.logo:hover {
    filter: var(---filter-black);
  }

.headerRightEl{
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 31px;
}
.menu {
    display: flex;
    gap: 30px;
}
.menu-link {
    transition: 0.3s;
    color: #ffffff ;
    text-align: 200%;
}
.menu-link:hover {
    color: var(--color-gold);
}
.langSep{
    padding-left: 10px;
    padding-right: 9px;
    font-weight: 600;
}

.langSwitch {
    display: flex;
}

input[type=radio] {
    display: none;
  }

.langRadio ~ label {
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}
.langRadio:checked ~ label {
    color: var(--color-gold);
    cursor: default;
}
.langRadio:hover ~ label {
    color: var(--color-gold);
}

.hamburger {
    position: fixed;
    right: 60px;
    top: 31.17px;
    width: 50px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.33px;
    z-index: 2000;
    transition: 1s;
}
.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    position: relative;
    transition: 0.3s;
}
.hamburger:hover span {
    background: var(--color-gold);
}
.hamburger.open span:nth-child(1) {
    animation: top .7s ease forwards;
}  
.hamburger span:nth-child(1) {
    animation: top-2 .7s ease forwards;
}  
.hamburger.open span:nth-child(2) {
    animation: scaled .7s ease forwards;
}  
.hamburger span:nth-child(2) {
    animation: scaled-2 .7s ease forwards;
}  
.hamburger.open span:nth-child(3) {
    animation: bottom .7s ease forwards;
}  
.hamburger span:nth-child(3) {
    animation: bottom-2 .7s ease forwards;
}  
@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: var(---center-burger);
      transform: rotate(0);
    }
    100% {
      top: var(---center-burger);
      transform: rotate(45deg);
    }
}  
@keyframes top-2 {
    0% {
      top: var(---center-burger);
      transform: rotate(45deg);
    }
    50% {
      top: var(---center-burger);
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
}
  
@keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: var(---center-burger);
      transform: rotate(0);
    }
    100% {
      bottom: var(---center-burger);
      transform: rotate(-45deg);
    }
}  
@keyframes bottom-2 {
    0% {
      bottom: var(---center-burger);
      transform: rotate(-45deg);
    }
    50% {
      bottom: var(---center-burger);
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
}
  
@keyframes scaled {
    0% {
        transform: scale(1);
      }  
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
}  
@keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

/*----MAIN------------------------------------------------------------------------------*/

/*----HERO------------------------------------------------------------------------------*/

.hero-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroPic {
    position: relative;
    width: 100%;
    min-height: 590px;
    margin: 0 auto;
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 17%;
    padding-bottom: 23%;
}

.name {
    height: 330px;
    max-width: 470px;
}
.h1class{
    font-family: Merriweather;
    font-style: normal;
    font-weight: var(--font-weight-name);
    font-size: var(--font-size-name);
    line-height: 200%;
    padding-bottom: 10px;
}
.textUnderName{
    line-height: 200%;
    padding-bottom: 25px;
}
.button {
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: 0.3s;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: var(--color-gold) solid 2px;
    color: var(--color-gold);
}
button:hover {
    color: #ffffff;
}
.button.active {
    background-color: var(--color-gold);
    border: none;
    color: #000000;
    cursor: default;
}
button.hero {
    background-color: var(--color-gold);
    border: none;
    color: #000000;
}

.button.hero:hover {
    color: #ffffff;
}

/*----SKILLS------------------------------------------------------------------------------*/


.section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 0px 20px;
}
.section:last-child {
    padding-bottom: 100px;
}
.sectionTop {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.section-title {
    position: absolute;
    padding: 0 20px;
    background-color: #000000;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-h2);
    line-height: 200%;
    text-align: center;
    color: var(--color-gold);
}

.line {
    height: 2px;
    width: 50%;
    background-color: var(--color-gold);
}

.sectionBott{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}
.skillBoxSec {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.skillsIcon{
    transition: 0.3s;
    display: block;
    height: 50px;
    fill: var(--color-gold);
}

.skillsH {
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.skillsDisc{
    max-width: 280px;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
}

/*----PORTFOLIO------------------------------------------------------------------------------*/

.pButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 895px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 60px;
}
.pButtonsSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.photoCont {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-content: space-between;
    /* display: none; */
}

.pPhoto{
    transition: 0.5s;
    max-width: 450px;
    object-fit: cover;
}
.pPhoto:hover {
    transform: scale(1.03);
}

/*----VIDEO------------------------------------------------------------------------------*/

.video-player{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}
.video-player div {
    background-image: url("assets/img/video-player.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 50.358%;
}

.videoBtn {
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    position: absolute;
    background: transparent;
}

.vBtnImg {
    width: 9.028%;
    object-fit: cover;
}
.videoBtn:hover {
    filter: var(---filter-black);
}

/*----PRICE------------------------------------------------------------------------------*/


.priceBlcs {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1400px;
}
.priceBlcs div {
    height: 505px ;
    width: 450px;
    border: var(--color-gold) solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prcHead {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
    /* padding-top: 43px; */
    padding-bottom: 20px;
}

.price{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: var(--color-gold);
    padding-bottom: 20px;
}

.prcDisc {
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
}
.prcDisc.end {
    padding-bottom: 40px;
}

/*----CONTACTS------------------------------------------------------------------------------*/

.contacts-container{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    max-height: 700px;
    min-height: 600px;
    max-width: 1440px;
    background-image: url(assets/img/contacts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contBlock {
    margin-right: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 195px;
    width: 450px;
}
.section-title.ctcs {
    padding: 0;
    margin-bottom: 40px;
    position: static;
    background-color: transparent;
}
.contBlock input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: var(--color-gold) solid 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
    padding-left: 20px;
}
.contBlock textarea {
    height: 100px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.5);
    border: var(--color-gold) solid 2px;
    resize: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);
    padding-left: 20px;
}
.contBlock textarea::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
  }
.contBlock input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
  }

/*----FOOTER------------------------------------------------------------------------------*/

.footer {
    width: inherit;
    height: 150px;
    padding: 0 20px;;
}
.footer-container{
    max-width: 1400px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.date{
    width: 188px;
    display: flex;
}
.date span:nth-child(2) {
    display: inline-block;
    padding: 0 20px 0 22px;
}
.spanHref{
    cursor: pointer;
    transition: 0.3s;
}
.spanHref:hover{
    color: var(--color-gold);
}

.snCont{
    height: 32px;
    width: 188px;
    display: flex;
    justify-content: space-between;
}
.snIcons{
    cursor: pointer;
    transition: 0.3s;
    height: 32px;
    width: 32px;
    fill: #ffffff;
}
.snIcons:hover {
    fill: var(--color-gold);
}

/*----MEDIA------------------------------------------------------------------------------*/

@media (max-width: 768px) {

:root {
    --font-size-name: 32px;
    --font-size-h2: 32px;
    --font-weight-name: normal;
}

.logo{
    margin-left: 40px;
}
.nav {
    position: fixed;
    display: flex;
    justify-content: right;
    margin: 0;
    height: 100vh;
    width: 620px;
    background-color: #000000;
    z-index: 1500;
    top: 0;
    right: -200vw;
    transition: 0.5s
}
.nav.open {
    right: 0;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1400;
    animation: disappear 0.5s linear forwards;
}
.shadow.open {
    animation: appear 0.5s linear forwards;
}
@keyframes appear {
    0% {
        height: 100vh;
        width: 100vw;
        background-color: none;
    }
    0.0001% {
        height: 100vh;
        width: 100vw;
        background-color: none;
    }
    100% {     
        height: 100vh;
        width: 100vw;
        background-color:   rgba(0, 0, 0, 0.5);
    }
}
  
  @keyframes disappear {
    0% {
        height: 100vh;
        width: 100vw;
        background-color:   rgba(0, 0, 0, 0.5);
    }
    99.999999% {
        height: 100vh;
        width: 100vw;
        background-color: none;
    }
    100% {
        height: 0;
        width: 0;
        background-color: none;
    }
  }


.menu {
    flex-direction: column;
    padding-left: 127px;
    padding-top: 134px;
    gap: 16px;
}
.menu-link{
    font-size: 34.8235px;
    line-height: 73px;
}
.headerRightEl {
    margin-right: 114px;
}
.hamburger{
    display: flex;
}

.heroPic{
    width: 768px;
    height: 590px;
    background-position: center;
    padding-left: 60px;
    padding-top: 168px;
    padding-bottom: 152px;
    background-image: url('./assets/img/hero.jpg');
    max-height: 600px;
    max-width: 768px;
    background-position: center;
    background-size: cover;
}
.h1class {
    padding-bottom: 20px;
}
.textUnderName{
    line-height: 24px;
    padding-bottom: 60px;
    max-width: 390px;
}

.section{
    padding-top: 80px;
}

.sectionTop {
    margin-bottom: 50px;
}
.sectionBott {
    gap: 76px;
    padding-bottom: 80px;
}
.skillBoxSec{
    gap: 44px;
}
.skillBox{
    width: 300px;
}
.skillsH {
    padding-top: 30px;
}
.skillsDisc{
    line-height: 22px;
}

/* .vSection{
    padding-left: 0;
    padding-right: 0;
} */
.video-player {
    margin: 0 -20px
}
.video-player div{
    padding-top: 54.4273%;
    background-image: url(assets/img/video-player-tablet.jpg);
}
.vBtnImg {
    width: 8.4%;
}

.section:last-child{
    padding-bottom: 80px;
}
.priceBlcs {
    gap: 50px;
}
.priceBlcs div {
    width: 420px;

}
.contBlock {
    margin-right: 0;
    align-items: center;
    padding-bottom: 111px;
}
.contacts-container{
    justify-content: center;
    background-image: url(assets/img/contacts768.jpg);
}
.footer-container{
    flex-direction: column;
    justify-content: center;
}
.footer {
    height: 190px;
}
.date{
    justify-content: center;
}
.spanHref.rs {
    display: block;
    margin: 16px 0 29px;
}
}

@media (max-width: 620px) {
    .nav {
        width: 100vw;
    }
    .menu {
        padding-left: 0;
        margin: 0 auto;
    }
    .sectionBott{
        padding: 0;
    }
    .header{
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .header {
        justify-content:space-between;
    }
    .hamburger{
        right: 20px;
    }
    .pPhoto {
        max-width: 100%;
    }
    .headerRightEl {
        margin-right: 70px;
    }
    .logo{
        margin: 0;
    }
    .heroPic {
        padding-left: 20px;
    }
}