/*-------------vars------------------------------------------------------*/
:root {
    --color-gold: #bdae82;
  }
/*-------------Normolize------------------------------------------------------*/
  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  html,
  body {
    scroll-behavior: smooth;
    background-color: #000000;
    min-height: 100vh;
    width: 1440px;
    line-height: normal;
    color: #ffffff;
    font-weight: regular;
    font-style: normal;
    font-size: 20px;
    font-family: Inter;
    margin: 0 auto;
  }

/*----------------------------------------------------------------------------------*/
.container {
    width: 1440px;
    margin: 0 auto;
  }

/*-------------HEADER---------------------------------------------------------------------*/

.header-container {
    background: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
  }
.header {
    padding: 0 20px;
    height: 90px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
    width: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }

.headerRightEl{
    display: flex;
    align-items: center;
}

.nav {
    padding-right: 1px;
}
.menu {
    display: flex;
}
.menu-link {
    transition: 0.3s;
    padding-right: 30px;
    color: #ffffff ;
    font-weight: 400;
}
.menu-link:hover {
    color: var(--color-gold);
}
.langSep{
    padding-left: 10px;
    padding-right: 9px;
    font-weight: 600;
}

.langSwitch {
    display: flex;
}

input[type=radio] {
    display: none;
  }

.langRadio ~ label {
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}

.langRadio:checked ~ label {
    color: var(--color-gold);
    cursor: default;
}
.langRadio:hover ~ label {
    color: var(--color-gold);
}

/*--------------MAIN--------------------------------------------------------------------*/

.hero-container {
    height: 820px;
    background-image: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 160px;
  }

.name {
    height: 330px;
    width: 470px;
}
.h1class{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    padding-bottom: 10px;
}
.textUnderName{
    font-family: Inter;
    font-style: normal;
    font-weight: regular;
    font-size: 20px;
    line-height: 200%;
    padding-bottom: 25px;

}
.button {
    width: 220px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    background-color: transparent;
    border: var(--color-gold) solid 2px;
    color: var(--color-gold);
}
button:hover {
    color: #ffffff;
}
.button.active {
    background-color: var(--color-gold);
    border: none;
    color: #000000;
    cursor: default;
}

button.hero {
    background-color: var(--color-gold);
    border: none;
    color: #000000;
}

.button.hero:hover {
    color: #ffffff;
}
/*--------------PORTFOLIO--------------------------------------------------------------------*/
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 0px 20px;
}
.section.end {
    margin-bottom: 100px;
}
.sectionTop {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    position: absolute;
    height: 80px;
    padding: 0 20px;
    background-color: #000000;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 200%;
    text-align: center;
    color: var(--color-gold);
}
.section-title.ctcs {
    text-align: left;
    padding-left: 0;
    position: relative;
    background-color: transparent;
    padding-bottom: 120px;
}
.line {
    height: 2px;
    width: 700px;
    background-color: var(--color-gold);
}

.sectionBott{
    display: flex;
    justify-content: space-between;
}
.skillBox {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 300px;
    width: 320px;
}
.skillsIcon{
    transition: 0.3s;
    display: block;
    height: 50px;
    fill: var(--color-gold);
}

.skillsH {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.skillsDisc{
    width: 280px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
}

.pButtons {
    display: flex;
    width: 895px;
    justify-content: space-between;
    padding-top: 60px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.photoCont {
    width: 1400px;
    height: 1145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* display: none; */
}

.pPhoto{
    transition: 0.5s;
    width: 450px;
    object-fit: cover;
}
.pPhoto:hover {
    transform: scale(1.1);
}

.video-player{
    width: 1400px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoPic {
    position: relative;
    width: 1400px;
    height: 705px;
    margin: 0 auto;
    background-image: url('assets/img/video-player.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
}
.videoBtn {
    cursor: pointer;
    transition: 0.3s;
    height: 130px;
    width: 130px;
    position: absolute;
    background: transparent;
    background-image: url('assets/svg/Play_hover.svg');
}
.videoBtn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.priceBlcs {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 1400px;
}
.priceBlcs div {
    /* margin-top: 60px; */
    height: 505px ;
    width: 450px;
    border: var(--color-gold) solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prcHead {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 43px;
    padding-bottom: 20px;
}

.price{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: var(--color-gold);
    padding-bottom: 20px;
}

.prcDisc {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
}
.prcDisc.end {
    padding-bottom: 40px;
}
.contacts-container{
    height: 700px;
    width: 1440px;
    background-image: url(assets/img/contacts.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60px;
    padding-left: 970px;
}
.contBlock {
    display: flex;
    flex-direction: column;
}
.contBlock input {
    height: 50px;
    width: 450px;
    display: block;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: var(--color-gold) solid 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
    padding-left: 20px;
}
.contBlock textarea {
    height: 100px;
    width: 450px;
    display: block;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.5);
    border: var(--color-gold) solid 2px;
    resize: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);
    padding-left: 20px;
}
.contBlock textarea::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
  }
.contBlock input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
  }
/*--------------FOOTER--------------------------------------------------------------------*/

.footer {
    width: inherit;
    height: 150px;
}
.footer-container{
    width: 1400px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.date{
    width: 188px;
    display: flex;
}
.dateSpan {
    display: inline-block;
    padding: 0 20px;
}
.spanHref{
    cursor: pointer;
    transition: 0.3s;
}
.spanHref:hover{
    color: var(--color-gold);
}
.snCont{
    height: 32px;
    width: 188px;
    display: flex;
    justify-content: space-between;
}
.snIcons{
    cursor: pointer;
    transition: 0.3s;
    height: 32px;
    width: 32px;
    fill: #ffffff;
}
.snIcons:hover {
    fill: var(--color-gold);
}