/*----VARs------------------------------------------------------------------------------*/
:root {
    --color-gold: #bdae82;
    --font-size-name: 60px;
    --font-weight-name: bold;
    --font-size-h2: 40px;
    ---center-burger: 12.3px;
  }
/*----NORMALIZE------------------------------------------------------------------------------*/

  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  html,
  body {
    scroll-behavior: smooth;
    background-color: #000000;
    min-height: 100vh;
    max-width: 1440px;
    line-height: normal;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    font-family: Inter;
    margin: 0 auto;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

/*----HEADER------------------------------------------------------------------------------*/

.header-container {
    position: absolute;
    z-index: 1000;
    height: 90px;
    width: 100%;
  }
.header {
    max-width: 1440px;
    padding: 0 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
    width: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }

.headerRightEl{
    display: flex;
    align-items: center;
}

.nav {
    padding-right: 1px;
}
.menu {
    display: flex;
}
.menu-link {
    transition: 0.3s;
    padding-right: 30px;
    color: #ffffff ;
    font-weight: 400;
    text-align: 200%;
}
.menu-link:hover {
    color: var(--color-gold);
}
.langSep{
    padding-left: 10px;
    padding-right: 9px;
    font-weight: 600;
}

.langSwitch {
    display: flex;
}

input[type=radio] {
    display: none;
  }

.langRadio ~ label {
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}

.langRadio:checked ~ label {
    color: var(--color-gold);
    cursor: default;
}
.langRadio:hover ~ label {
    color: var(--color-gold);
}
.hamburger {
    position: fixed;
    right: 20px;
    top: 31.17px;
    width: 50px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.33px;
    z-index: 2000;
    margin-left: 20px;
}
.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    transition: all .3s;
    position: relative;
}
.hamburger.open span:nth-child(1) {
    animation: ease .7s top forwards;
  }
  
.hamburger span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
.hamburger.open span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
.hamburger span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
.hamburger.open span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
  
.hamburger span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: var(---center-burger);
      transform: rotate(0);
    }
    100% {
      top: var(---center-burger);
      transform: rotate(45deg);
    }
}
  
  @keyframes top-2 {
    0% {
      top: var(---center-burger);
      transform: rotate(45deg);
    }
    50% {
      top: var(---center-burger);
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: var(---center-burger);
      transform: rotate(0);
    }
    100% {
      bottom: var(---center-burger);
      transform: rotate(-45deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: var(---center-burger);
      transform: rotate(-45deg);
    }
    50% {
      bottom: var(---center-burger);
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

.burgLine {
    width: 50px;
    height: 3px;
    background:#ffffff;
    z-index: 2500;
    transition: all 0.3s ease-in-out;
}
.hamburger.open .line1 {
    transform: rotate(-45deg)
    translate(-8px, 9.3px);
}
  
.hamburger.open .line2 {
    opacity: 0;
}
  
.hamburger.open .line3 {
    transform: rotate(45deg)
    translate(-8px, -9.3px);
}

/*----MAIN------------------------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
  }

/*----HERO------------------------------------------------------------------------------*/

.hero-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroPic {
    position: relative;
    width: 100%;
    min-height: 590px;
    margin: 0 auto;
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 17%;
    padding-bottom: 23%;
}

.name {
    height: 330px;
    max-width: 470px;
}
.h1class{
    font-family: Merriweather;
    font-style: normal;
    font-weight: var(--font-weight-name);
    font-size: var(--font-size-name);
    line-height: 200%;
    padding-bottom: 10px;
}
.textUnderName{
    line-height: 200%;
    padding-bottom: 25px;

}
.button {
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: 0.3s;
    font-size: inherit;
    background-color: transparent;
    border: var(--color-gold) solid 2px;
    color: var(--color-gold);
}
button:hover {
    color: #ffffff;
}
.button.active {
    background-color: var(--color-gold);
    border: none;
    color: #000000;
    cursor: default;
}

button.hero {
    background-color: var(--color-gold);
    border: none;
    color: #000000;
}

.button.hero:hover {
    color: #ffffff;
}

/*----SKILLS------------------------------------------------------------------------------*/


.section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 0px 20px;
}
.section.end {
    margin-bottom: 100px;
}
.sectionTop {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.section-title {
    position: absolute;
    padding: 0 20px;
    background-color: #000000;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-h2);
    line-height: 200%;
    text-align: center;
    color: var(--color-gold);
}

.line {
    height: 2px;
    width: 50%;
    background-color: var(--color-gold);
}

.sectionBott{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
    /* max-height: 580px; */
    margin: 0 auto;
    /* min-width: 728px; ; */
}
.skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
}
.skillBoxSec {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    align-items: center;
    justify-content: center;
}
.skillsIcon{
    transition: 0.3s;
    display: block;
    height: 50px;
    width: 50px;
    fill: var(--color-gold);
}

.skillsH {
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.skillsDisc{
    max-width: 280px;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
}

/*----PORTFOLIO------------------------------------------------------------------------------*/

.pButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 895px;
    min-width: 445px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 60px;
}
.pButtonsSec {
    display: flex;
    gap: 5px;
}

.photoCont {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-content: space-between;
    /* display: none; */
}

.pPhoto{
    transition: 0.5s;
    max-width: 450px;
    object-fit: cover;
}
.pPhoto:hover {
    transform: scale(1.03);
}

/*----VIDEO------------------------------------------------------------------------------*/

.video-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoPic {
    position: relative;
    max-width: 100%;
    max-height: 705px;
    margin: 0 auto;
    object-fit: cover;
}
.videoBtn {
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    position: absolute;
    background: transparent;
}

.vBtnImg {
    width: 9.028%;
    object-fit: cover;
}
.videoBtn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/*----PRICE------------------------------------------------------------------------------*/


.priceBlcs {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1400px;
}
.priceBlcs div {
    height: 505px ;
    width: 450px;
    border: var(--color-gold) solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prcHead {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 43px;
    padding-bottom: 20px;
}

.price{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: var(--color-gold);
    padding-bottom: 20px;
}

.prcDisc {
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
}
.prcDisc.end {
    padding-bottom: 40px;
}

/*----CONTACTS------------------------------------------------------------------------------*/

.contacts-container{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    max-height: 700px;
    min-height: 600px;
    max-width: 1440px;
    background-image: url(assets/img/contacts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contBlock {
    padding-right: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 195px;
    width: 450px;
}
.section-title.ctcs {
    padding: 0;
    margin-bottom: 40px;
    position: static;
    background-color: transparent;
}
.contBlock input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: var(--color-gold) solid 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
    padding-left: 20px;
}
.contBlock textarea {
    height: 100px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.5);
    border: var(--color-gold) solid 2px;
    resize: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);
    padding-left: 20px;
}
.contBlock textarea::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
  }
.contBlock input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 200%;    
    color: var(--color-gold);    
  }

/*----FOOTER------------------------------------------------------------------------------*/

.footer {
    width: inherit;
    height: 150px;
}
.footer-container{
    max-width: 1400px;
    height: inherit;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.date{
    width: 188px;
    display: flex;
}
.dateSpan {
    display: inline-block;
    padding: 0 20px;
}
.spanHref{
    cursor: pointer;
    transition: 0.3s;
}
.spanHref:hover{
    color: var(--color-gold);
}
.spanHref.rs {
    display: block;
    padding: 20px 0;
}
.snCont{
    height: 32px;
    width: 188px;
    display: flex;
    justify-content: space-between;
}
.snIcons{
    cursor: pointer;
    transition: 0.3s;
    height: 32px;
    width: 32px;
    fill: #ffffff;
}
.snIcons:hover {
    fill: var(--color-gold);
}

/*----MEDIA------------------------------------------------------------------------------*/

@media (max-width: 796px) {
    :root {
        --font-size-name: 32px;
        --font-size-h2: 32px;
        --font-weight-name: normal;
    }
.logo{
    margin-left: 40px;
}
.nav {
    position: fixed;
    height: 100vh;
    width: 80.6%;
    background-color: #000000;
    z-index: 1500;
    top: 0;
    right: -100vw;
    transition: 0.5s
}
.nav.open {
    box-shadow: calc(-20vw) 0 rgba(0, 0, 0, 0.5);
    right: 0;
}

.langSwitch {
    margin-right: 70px;
}
.hamburger{
    display: flex;
}
.menu {
    flex-direction: column;
    padding-left: 127px;
    padding-top: 134px;
    gap: 50px;
}
.textUnderName{
    line-height: 24px;
    padding-bottom: 60px;
}
.heroPic{
    width: 768px;
    height: 590px;
    background-position: center;
    padding-left: 60px;
    padding-top: 168px;
    padding-bottom: 152px;
    background-image: url('./assets/img/hero.jpg');
    max-height: 600px;
    max-width: 768px;
    background-position: center;
    background-size: cover;
}
.name {
    max-width: 390px;
}

.skillsH {
    padding-top: 30px;
}
.sectionTop {
    margin-bottom: 50px;
}
.section{
    padding-top: 80px;
}
.vSection{
    padding-left: 0;
    padding-right: 0;
}
.priceBlcs {
    gap: 50px;
}
.contBlock {
    padding-right: 0;
    align-items: center;
    padding-bottom: 111px;
}
.contacts-container{
    justify-content: center;
    background-image: url(assets/img/contacts768.jpg);
}
.footer-container{
    flex-direction: column;
    justify-content: center;
}
.footer {
    height: 190px;
}

}